.header-search {
    position: absolute;
    top: 10px;
    right: 70px;
    width: 150px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #0A5D66;
    font-size: 1em;
    z-index: 100;
}
.hamburger-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: auto;
    z-index: 100;
    cursor: pointer;
}
body {
    position: relative;
}
header {
    position: relative;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 120px;
    height: auto;
    z-index: 1000;

}
        header h1{
            font-family: Julius Sans One, sans-serif;
            font-weight: 300;
            color: #0A5D66;
            font-size: 95px;
            padding-top: 0px;
             border: px solid #3a8ca8;
             width: 1410px;      
             height: 95px;            
              background: rgba(255,255,255,0.8);               
             display: inline-block;
        }
        .about-box {
            width: 800px; 
            display: inline-block;
            background: rgba(255,255,255,0.8); 
            border: white;
            position: relative;
            z-index: 10;
            margin-bottom: 24px;
        }
        .about-box h2, .about-box h4 {
            display: block;
        }      

        .about-box h2 {
            font-size: 50px;
            color: #108167;
            font-family: Julius Sans One, sans-serif;
            font-weight: 400;
        }

        .about-box h4 {
            font-size: 30px ;
            color: black;
            font-family: Julius Sans One, sans-serif;
            font-weight: 400;

        }
        header main{
            width: 1440px;
            background-color: #fff;
            margin: 0 auto;
            padding: 1em;
            padding-bottom: 15em;
           
            
        }
    header div {
        min-height: 375px;
        background-image: url(../images/headercopy.png);
        border: none;
        background-size: cover;
        background-position: center;
        text-align: center;
        position: relative;
    }

    header .part1 {
        border: 5px solid #0A5D66;
        border-radius: 0;
        box-sizing: border-box;
        position: relative;
        overflow: visible;
    }
        .equal-columns{
            display: flex;
            gap: 1em;
            margin-bottom: 1em;
        }
        .equal-columns:last-child{
            margin-bottom: 0;
        }
        
       