

body h3{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  color: #2F3867;
}

body p{
  font-family: 'Afacad', sans-serif;
  font-size: 15px;
  color: black;
  
}

body a{
  font-family: 'Afacad', sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;  
  width: 100px;      
  height: 30px;            
  background: #5FC0EC;               
  display: inline-block;
  filter: drop-shadow(4px 3px lightgrey);
}
 
.card-img img {
        width: 100%;
        height: auto;
        border: solid 4px #0A5D66;
      }
      .flex {
        display: flex;
      }
      .card-holder {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
      }
      .card {
        
        margin-bottom: 30px;
        width: 650px;

      }
      .card-img {
        width: 650px;
        align-content: center;
      }
      .card-content {
        padding: 1.5rem;
      }

      .card-content a {
         display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .image-holder {
     
      flex-wrap: wrap;
      width: 1250px;
      margin-top:  50px;
      margin-left: 250px;
      margin-bottom: 50px;
      height: 200px; 
      overflow: hidden; 
      }

  .image-holder img {
    
    height: 100%;
    width: 1250px;
    
    
  }