 body{
            background-color: lightgray;
        }
        main{
            width: 1440px;
            background-color: #fff;
            margin: 0 auto;
            padding: 1em;
        }
        div{
            min-height: 650px;
            border: 1px solid lightgray;
        }
        .equal-columns{
            display: flex;
            gap: 1em;
            margin-bottom: 1em;
        }
        .equal-columns:last-child{
            margin-bottom: 0;
        }
        .equal-columns > div{
            flex-basis: 100%;
            gap: 1em;
        }

       /* below is the style for the gallery */
       
        body {
        margin: 0;
        padding: 0;
    }
    main{
        margin: 3em auto;
        max-width: 1440px;
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      padding-top: 6em;
    }
    .grid > div {
      background: #eaeaea;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      margin: 10px;
      flex: 1 1 200px;
   
    }