
body
{
    background-color: #21034e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}


h1
{
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(122, 153, 214);
    text-align: center;
    margin-top: 100px;
}



button {
    align-content: center;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

}

button:hover {
  background-color: rgb(39, 75, 138);
  color: #b3c5ed;
  transform: scale(1.1);
  transition: all 0.3s ease;
}